
@use '../variables';

//import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@font-face {
    font-family: Xilosa;
    src: url(xilosa.ttf);
}

//Unless specified for a specific element, use Open Sans.
html{
	font-family:"Open Sans";
	font-size: 14px;
	color: variables.$side-margins;
}

//Headings
h1, h2{
	font-family: Xilosa;
	text-transform: uppercase;
	font-size: 2em;
}

h2{
	color: variables.$green;
	text-align: center;
}

h3{
	font-family: Montserrat;
	font-size: 1.05vw;
}

button{
    font-family:"Open Sans";
    font-size: .9em;
}

.wrapper.episodios{
    h3{
        font-size:1.3em;
        margin: 0 0 3px 0;
        font-weight: 400;
    }
}