@use 'variables';

.banner{
    display: flex;
    flex-direction: column;
    min-height: 220px;
    color: white;
    padding:20px variables.$side-margins;
    background-image: url("banner-marca-color-75.png");
    background-position: right; 
    background-repeat: no-repeat;
    background-size:contain;
    background-blend-mode: luminosity;
    text-align: center;
    text-shadow: 1px 1px #000;

    &.green{
        background-color: variables.$green;
    }

    &.orange{
        background-color: variables.$orange;
    }

    .info{
        align-self: center;
    }

    .tag{
        display: inline-block;
        font-family: "Open Sans";
    }

}

.banner-artwork{
    order:-1;
    align-self: center;
    text-align: center;
    width: 90%;
    margin: 0 5%;

    p{
        margin:0;
    }


    img{
        width:100%;
    }
}

.banner.green .banner-artwork{
    order:1;
}

p.no-ar{
    background-color: red;
    padding: 2px;
    margin-top:5px;
    border-radius: 5px;
}

p.programa-no-ar{
    font-size: 0.8em;
}

.item-page{
    .banner{
        .info{
            h1, h2{
                margin: 10px 0;
            }

            h2{
                font-size: 1em;
                color: #fff;
                text-align: right;
                font-family: "Open Sans";
                text-transform: none;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .banner{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding:0 variables.$side-margins*2 20px variables.$side-margins;
    }

    .description{
        text-align: left;
        margin-right: 20px;
    }

    .banner-artwork{
        width: 125px;
        min-width: 125px;
        margin:0;
        order:1;
    }
}
