@use 'variables';

footer{
	background-color: variables.$orange;
	color:#fff;
}

.live-player footer{
    background-color: variables.$green;
}

.footer-wrapper{
	margin: 50px variables.$side-margins 0 variables.$side-margins;
	padding: 30px 0 80px 0;
}

.live-player .footer-wrapper{
    margin-top:0;
}

.social-wrapper{
	width:300px;
	margin:0 auto 30px auto;
}

.participe-social{
	font-family: Xilosa;
	font-size: 1.5em;
	text-align: center;
	margin:0;
}

.social-buttons-list {
	display:flex;
	justify-content: space-around;
	li{
		
	}
	img {
		width: 40px;
	}
}

.copyright-wrapper{
	border-top: solid 1px #fff;
	font-size: 0.8em;
}

