.wrapper.esposa{
    padding: 0 20%;
    
    h1{
        text-align: center;
    }
    img{
        width:100%;
    }
    figcaption{
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
    }
}