@use '../variables';

.ao-vivo{
    padding: 0;
    width: 100%;
    height: calc(100vh - 80px);
    position:relative;
    background-color: variables.$green;

    &:before {
        content: "";
        background: url(/recursos/capas/ao-vivo.jpg);
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}

.player{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 150px;
    display: grid;
   // width: 80%; With all invormation included
   // min-width: 880px;  With all invormation included
   // grid-template-columns: 150px 1fr 1fr 136px;  With all invormation included
    grid-template-columns: 150px 136px;
    grid-gap: 15px;
    padding:20px;

    h1, h2{
        font-family: Montserrat;
    }

    h1{
        margin-top:0;
        font-size:1.5em;
    }

    h2{
        margin-top:0;
        font-size: 1em;
        text-align: left;
        text-transform: capitalize;
        color: #000;
    }

    //        .wrapper{
    //            margin: 10px 0;
    //        }

    .col-1{
        //  margin-left:20px;
        display: flex;
        //padding: 0 30px;
        //    max-width: 14%;
    }
    .col-2, .col-3{
        display: flex;
        flex-direction: column;
        //            max-width: 34%;
    }

    .col-4{             
        display:flex;
        //            max-width: 14%;
    }

    .play{
        width:75px;
        height:75px;
        margin: auto 20px;
        &:after{
            border-width: 18px 0 18px 30px;
        }
    }
}


#live-artwork{
    width:100%;
    max-width: 150px;
    margin: auto;
    user-select: none;
}

#live-track-artist, #track-info{
    color: variables.$light-gray;
    margin: 0;
    font-size: 0.9em;
}

.button{
    border: solid 1px;
    border-radius: 20px;
    line-height: 30px;
    height: 30px;
    display:flex;
    box-sizing: border-box;
    cursor: pointer;
}


.comprar-link{
    color: variables.$green;
    border-color: variables.$green;

    .icon{
        background-image: variables.inline-svg(variables.$svg-comprar);
        width: 22px;
        height: 22px;
        margin: auto 0 auto 15px;
    }
}

.comprar-link, .compartilhar{
    min-width:130px;
}

.curtir{
    color: #EA1351;
    border-color: #EA1351;
    
    .icon{
        background-image: variables.inline-svg(variables.$svg-heart);
        width: 22px;
        height: 20px;
        margin: auto 0 auto 15px;

    }
}

.ver-letra{
    color: variables.$gray;
    border-color: variables.$gray;
    .icon{
        background-image: variables.inline-svg(variables.$svg-letra);
        width: 22px;
        height: 22px;
        margin: auto 0 auto 15px;

    }
}

.button-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    flex-grow: 1;
    align-items: flex-end;
}
