@use '../variables';

.slider-wrapper{
    display:flex;
    flex-direction: column;

    .icon{
        width:20px;
        min-height: 17px;
        margin-top: 4px;
        background-image: variables.inline-svg(variables.$svg-volume);
    }
}

.slider {
    flex: 1;
    width:10px;
    margin: auto;
    border: solid 1px #949494;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.slider-active-range{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(50% + 9px);;
    background-color: variables.$gray;
    border-radius: 10px;
}

.slider-handle{
    position: absolute;
    top:0;
    transform-origin: center;
    left: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: variables.$gray;
    user-select: none;
}

@media only screen and (min-width: 768px) {
    .horizontal{

        .slider{
            height:10px;
        }
        
        #volume-active-range{
            width: calc(50% + 9px);
        }
        
        .slider-active-range{
            width: 18px;
            height: 100%;
            bottom: auto;
            left: 0;
        }
        .slider-handle{
            right: 0;
            top: -5px;
            left:unset;
        }
    }
    
    .slider-wrapper.horizontal{
    flex-direction: row;  
    .icon{
        margin: auto 4px auto 0;
        height: 17px;

    }
}

}