@use '../variables';


.wrapper.episodios{
    display:flex;
    flex-direction: column;
    padding: 0 10%;
}

.episodios{
    article{
        padding: 10px 30px;
        border:solid 1px #B3B3B3;
        margin-bottom:25px;
        display:grid;
        grid-template-columns: 50px 1fr 136px;
        grid-gap: 30px;
        box-shadow: 10px 4px 20px 0 rgba(148, 148, 148, 0.5);
        }
    .date-time{
        color:variables.$light-gray;
        font-size:0.8em;
        margin:0;
    }
    
    .description{
        text-align: justify;
    }
    
    .tag-list{
        display:flex;
    }
    
    .compartilhar{
        width:100%;
        margin: auto;
    }
}

.tag{
    margin-right:10px;
    color:#fff;
    padding: 3px 12px;
  //  height: 25px;
    line-height: 1.5em;
    border-radius: 12.5px;
    background-color: variables.$green;
    text-transform: capitalize;
}

.all-tags .tag {
    display: inline-block;
    margin-bottom: 10px;
}

.compartilhar, .call-to-action{
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color:variables.$green;
    line-height: 30px;
    height: 30px;
}

.compartilhar{
    display: flex;
        .icon{
            background-image: variables.inline-svg(variables.svg-compartilhar(fff));
            height: 24px;
            width: 19px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2px 0 0 15px;
        }
}

.call-to-action{
    font-family: Xilosa;
    font-size: 1.2em;
    margin: auto;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
}


//Special coloring for each podcast page

.algemas-quebradas{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$algemas-red;
    }     
}


.culto-ice-nova-russas{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$culto-purple;
    }     
}

.empreendedores-de-futuro{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$empreendedores-blue;
    }     
}

.familia-bencao-de-deus{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$familia-blue;
    }     
}

.jornal-seara{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$jornal-dark-blue;
    }     
}

.luz-da-vida{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$luz-da-vida-yellow;
        color:#000;
    }     
    .icon{
         background-image: variables.inline-svg(variables.svg-compartilhar('000'));
    }
}

.minha-historia{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$minha-historia-green;
    }     
}

.seara-esporte-clube{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$esporte-orange;
    }     
}

.uma-vida-a-dois{
    .compartilhar,.call-to-action, .tag{
        background-color: variables.$vida-a-dois-pink;
    }     
}