@use '../variables';

.flex{
    display:flex;
}

.hidden{
    //display: none;
    visibility: hidden;
    opacity: 0;
}

.play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    display:flex;
		&:after {
				content: "";
				display: inline-block;
               // margin: 8% 0 0px 10%;
                margin: auto;
                margin-left: 38%;
				border-style: solid;
				border-width: 12px 0 12px 20px;
			}
}
.play.playing{
    &:after {
        border-style: solid;
        margin-left: 31%;
        height: 50%;
        border-style: double;
        border-width: 0 0 0 24px;
    }
}
.player .play.playing{
    &:after {
                border-width: 0 0 0 30px;
    }
}

.episodios .play, .ao-vivo .play, #bar-player-wrapper
.play{
        cursor: pointer;
        padding: 0;
        background-color: #fff;
        border:solid 1px;
        border-color: variables.$light-gray;
        margin: auto;
        &:after {
				border-color: transparent transparent transparent variables.$gray;
			}
    }

.divider{
    height: 100%;
    border-left: solid 1px variables.$light-gray;
}

button, .button{
        padding: 0;
        background-color: #fff;
        outline:none;
     .label{
         text-align: center;
         flex-grow: 1;
    }
}

.close{
        border: solid 1px #000;
        border-radius: 50%;
        text-align: center;
        font-size: 9px;
        line-height: 15px;
        width:20px;
        height:20px;
        cursor: pointer;

        &:after{
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            margin: 5px auto;
            background: linear-gradient(-45deg, transparent 0%, transparent 47%, black 47%, black 53%, transparent 53%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 47%, black 47%, black 53%, transparent 53%, transparent 100%);
        }
    }