@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
@font-face {
  font-family: Xilosa;
  src: url(xilosa.ttf);
}
html {
  font-family: "Open Sans";
  font-size: 14px;
  color: #3F3F3F;
}

h1, h2 {
  font-family: Xilosa;
  text-transform: uppercase;
  font-size: 2em;
}

h2 {
  color: #007985;
  text-align: center;
}

h3 {
  font-family: Montserrat;
  font-size: 1.05vw;
}

header {
  height: 80px;
}
header li :not(.selected) {
  font-family: Xilosa;
  background-color: #007985;
  border-radius: 100px;
  color: #fff;
}
header li {
  display: inline-block;
  margin-left: 22px;
}
header li a {
  padding: 5px 20px;
}

.header-wrapper {
  margin: 10px 10%;
  justify-content: space-between;
  display: flex;
}

.marca img {
  height: 60px;
}

nav {
  align-self: center;
}

ul {
  list-style-type: none;
}

.banner {
  height: 220px;
  padding: 0 20% 0 10%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.banner .info {
  align-self: center;
}
.banner .description {
  max-width: 345px;
}

.banner.green {
  background-color: #007985;
  background-image: url("banner-marca-color-75.png");
  /* The image used */
  background-position: right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  background-blend-mode: luminosity;
}

.banner-artwork {
  align-self: center;
  text-align: center;
  width: 125px;
}
.banner-artwork p {
  margin: 0;
}
.banner-artwork img {
  width: 100%;
}

p.no-ar {
  background-color: red;
  padding: 2px;
  margin-top: 5px;
  border-radius: 5px;
}

p.programa-no-ar {
  font-size: 0.8em;
}

body .wrapper {
  padding: 0 20%;
}

.program-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}
.program-list li {
  margin-left: 0;
  width: 30%;
  margin-bottom: 10px;
}
.program-list li:hover .tint {
  background: rgba(0, 121, 133, 0.82);
}
.program-list li:hover .play-overlay {
  background: rgba(255, 255, 255, 0.5);
}
.program-list li:hover .play-overlay:after {
  border-color: transparent transparent transparent white;
}
.program-list img {
  width: 100%;
  vertical-align: top;
}
.program-list .artwork-wrapper {
  position: relative;
}
.program-list .tint {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: all 0.3s linear;
}
.program-list .play-overlay {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  transition: all 0.3s linear;
}
.program-list .play-overlay:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 12px;
  left: 3px;
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent;
  transition: all 0.3s linear;
}
.program-list h3 {
  margin: 4px 0;
}
.program-list p {
  color: #949494;
  margin: 0;
  font-size: 0.8vw;
}

footer {
  background-color: #EC9F17;
  color: #fff;
  margin-top: 50px;
}

.footer-wrapper {
  margin: 0 10%;
  padding: 30px 0 20px 0;
}

.social-wrapper {
  width: 300px;
  margin: 0 auto 30px auto;
}

.participe-social {
  font-family: Xilosa;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.social-buttons-list {
  display: flex;
  justify-content: space-around;
}
.social-buttons-list img {
  width: 40px;
}

.copyright-wrapper {
  border-top: solid 1px #fff;
  font-size: 0.8em;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
