@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
@font-face {
  font-family: Xilosa;
  src: url(xilosa.ttf);
}
html {
  font-family: "Open Sans";
  font-size: 14px;
  color: 10%;
}

h1, h2 {
  font-family: Xilosa;
  text-transform: uppercase;
  font-size: 2em;
}

h2 {
  color: #007985;
  text-align: center;
}

h3 {
  font-family: Montserrat;
  font-size: 1.05vw;
}

button, .button {
  font-family: "Open Sans";
  font-size: 0.9em;
}

.wrapper.episodios h3 {
  font-size: 1.3em;
  margin: 0 0 3px 0;
  font-weight: 400;
}

header {
  height: 80px;
}
header li :not(.selected) {
  font-family: Xilosa;
  background-color: #007985;
  border-radius: 100px;
  color: #fff;
}
header li {
  display: inline-block;
  margin-left: 22px;
}
header li a {
  padding: 5px 20px;
}

.header-wrapper {
  margin: 0 10%;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
}

.marca img {
  height: 60px;
}

nav {
  align-self: center;
}

ul {
  list-style-type: none;
}

.banner {
  min-height: 220px;
  padding: 0 20% 20px 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  background-image: url("banner-marca-color-75.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: luminosity;
}
.banner.green {
  background-color: #007985;
}
.banner.orange {
  background-color: #EC9F17;
}
.banner .info {
  align-self: center;
}
.banner .description {
  text-align: justify;
  margin-right: 20px;
}
.banner .tag {
  display: inline-block;
  font-family: "Open Sans";
}

.banner-artwork {
  align-self: center;
  text-align: center;
  width: 125px;
  min-width: 125px;
}
.banner-artwork p {
  margin: 0;
}
.banner-artwork img {
  width: 100%;
}

p.no-ar {
  background-color: red;
  padding: 2px;
  margin-top: 5px;
  border-radius: 5px;
}

p.programa-no-ar {
  font-size: 0.8em;
}

.item-page .banner .info h1, .item-page .banner .info h2 {
  margin: 10px 0;
}
.item-page .banner .info h2 {
  font-size: 1em;
  color: #fff;
  text-align: right;
  font-family: "Open Sans";
  text-transform: none;
}

.flex {
  display: flex;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
}
.play:after {
  content: "";
  display: inline-block;
  margin: auto;
  margin-left: 38%;
  border-style: solid;
  border-width: 12px 0 12px 20px;
}

.player .play.playing:after {
  border-style: solid;
  margin-left: 31%;
  height: 50%;
  border-style: double;
  border-width: 0 0 0 30px;
}

.episodios .play, .ao-vivo .play, .episode-player .play {
  cursor: pointer;
  padding: 0;
  background-color: #fff;
  border: solid 1px;
  border-color: #949494;
  margin: auto 0;
}
.episodios .play:after, .ao-vivo .play:after, .episode-player .play:after {
  border-color: transparent transparent transparent #3F3F3F;
}

.divider {
  height: 100%;
  border-left: solid 1px #949494;
}

button, .button {
  padding: 0;
  background-color: #fff;
}
button .label, .button .label {
  text-align: center;
  flex-grow: 1;
}

.wrapper.home {
  padding: 0 20%;
}

.program-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}
.program-list li {
  margin-left: 0;
  width: 30%;
  margin-bottom: 10px;
}
.program-list li:hover .tint {
  background: rgba(0, 121, 133, 0.82);
}
.program-list li:hover .play.overlay {
  background: rgba(255, 255, 255, 0.5);
}
.program-list li:hover .play.overlay:after {
  border-color: transparent transparent transparent white;
}
.program-list img {
  width: 100%;
  vertical-align: top;
}
.program-list .artwork-wrapper {
  position: relative;
}
.program-list .tint {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: all 0.3s linear;
}
.program-list .play.overlay {
  transition: all 0.3s linear;
  margin: auto;
}
.program-list .play.overlay:after {
  border-color: transparent;
  transition: all 0.3s linear;
}
.program-list h3 {
  margin: 4px 0;
}
.program-list p {
  color: #949494;
  margin: 0;
  font-size: 0.8vw;
}

.wrapper.episodios {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.episodios article {
  padding: 10px 30px;
  border: solid 1px #B3B3B3;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 50px 1fr 136px;
  grid-gap: 30px;
  box-shadow: 10px 4px 20px 0 rgba(148, 148, 148, 0.5);
}
.episodios .date-time {
  color: #949494;
  font-size: 0.8em;
  margin: 0;
}
.episodios .description {
  text-align: justify;
}
.episodios .tag-list {
  display: flex;
}
.episodios .compartilhar {
  width: 100%;
  margin: auto;
}

.tag {
  margin-right: 10px;
  color: #fff;
  padding: 3px 12px;
  line-height: 1.5em;
  border-radius: 12.5px;
  background-color: #007985;
  text-transform: capitalize;
}

.all-tags .tag {
  display: inline-block;
  margin-bottom: 10px;
}

.compartilhar, .call-to-action {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #007985;
  line-height: 30px;
  height: 30px;
}

.compartilhar {
  display: flex;
}
.compartilhar .icon {
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 247 320" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10"%3E%3Cpath d="M125.744 50.212V186.87c0 .783-.525 1.308-1.309 1.308h-2.35c-.783 0-1.308-.525-1.308-1.308V50.212L88.902 82.087c-.792.266-1.308.266-1.833 0l-1.567-1.567c-.783-.783-.783-1.308 0-2.092l34.75-34.75c1.833-2.35 3.925-2.35 6.275 0l34.75 34.75c.792.784.792 1.309 0 2.092l-1.567 1.567c-.783.525-1.308.525-2.091 0l-31.875-31.875zm-44.159 69.766c-9.666 0-17.775 3.4-24.3 9.925-6.8 6.8-10.191 14.9-10.191 24.567v83.617c0 9.666 3.391 17.766 10.191 24.566 6.525 6.525 14.634 9.925 24.3 9.925h83.609c9.675 0 17.775-3.4 24.566-9.925 6.534-6.8 9.934-14.9 9.934-24.566V154.47c0-9.667-3.4-17.767-9.934-24.567-6.791-6.525-14.891-9.925-24.566-9.925h-15.409c-1.05 0-1.575-.516-1.575-1.566v-2.092c0-.783.525-1.308 1.309-1.308h15.675c10.716 0 20.125 3.925 27.966 11.5 7.575 7.841 11.492 17.25 11.492 27.958v83.617c0 10.716-3.917 20.116-11.492 27.958-7.841 7.583-17.25 11.5-27.966 11.5H81.585c-10.975 0-20.383-3.917-27.958-11.5-7.842-7.842-11.758-17.242-11.758-27.958V154.47c0-10.708 3.916-20.117 11.758-27.958 7.575-7.575 16.983-11.5 27.958-11.5h15.417c.783 0 1.3.525 1.3 1.308v2.092c0 1.05-.517 1.566-1.3 1.566H81.585z" fill="%23fff" fill-rule="nonzero" stroke="%23fff" stroke-width="8.33333"/%3E%3C/svg%3E');
  height: 24px;
  width: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2px 0 0 15px;
}

.call-to-action {
  font-family: Xilosa;
  font-size: 1.2em;
  margin: auto;
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
}

.algemas-quebradas .compartilhar, .algemas-quebradas .call-to-action, .algemas-quebradas .tag {
  background-color: #E31E25;
}

.culto-ice-nova-russas .compartilhar, .culto-ice-nova-russas .call-to-action, .culto-ice-nova-russas .tag {
  background-color: #64288A;
}

.empreendedores-de-futuro .compartilhar, .empreendedores-de-futuro .call-to-action, .empreendedores-de-futuro .tag {
  background-color: #0125F7;
}

.familia-bencao-de-deus .compartilhar, .familia-bencao-de-deus .call-to-action, .familia-bencao-de-deus .tag {
  background-color: #00C8FF;
}

.jornal-seara .compartilhar, .jornal-seara .call-to-action, .jornal-seara .tag {
  background-color: #224752;
}

.luz-da-vida .compartilhar, .luz-da-vida .call-to-action, .luz-da-vida .tag {
  background-color: #FFF59C;
  color: #000;
}
.luz-da-vida .icon {
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 247 320" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10"%3E%3Cpath d="M125.744 50.212V186.87c0 .783-.525 1.308-1.309 1.308h-2.35c-.783 0-1.308-.525-1.308-1.308V50.212L88.902 82.087c-.792.266-1.308.266-1.833 0l-1.567-1.567c-.783-.783-.783-1.308 0-2.092l34.75-34.75c1.833-2.35 3.925-2.35 6.275 0l34.75 34.75c.792.784.792 1.309 0 2.092l-1.567 1.567c-.783.525-1.308.525-2.091 0l-31.875-31.875zm-44.159 69.766c-9.666 0-17.775 3.4-24.3 9.925-6.8 6.8-10.191 14.9-10.191 24.567v83.617c0 9.666 3.391 17.766 10.191 24.566 6.525 6.525 14.634 9.925 24.3 9.925h83.609c9.675 0 17.775-3.4 24.566-9.925 6.534-6.8 9.934-14.9 9.934-24.566V154.47c0-9.667-3.4-17.767-9.934-24.567-6.791-6.525-14.891-9.925-24.566-9.925h-15.409c-1.05 0-1.575-.516-1.575-1.566v-2.092c0-.783.525-1.308 1.309-1.308h15.675c10.716 0 20.125 3.925 27.966 11.5 7.575 7.841 11.492 17.25 11.492 27.958v83.617c0 10.716-3.917 20.116-11.492 27.958-7.841 7.583-17.25 11.5-27.966 11.5H81.585c-10.975 0-20.383-3.917-27.958-11.5-7.842-7.842-11.758-17.242-11.758-27.958V154.47c0-10.708 3.916-20.117 11.758-27.958 7.575-7.575 16.983-11.5 27.958-11.5h15.417c.783 0 1.3.525 1.3 1.308v2.092c0 1.05-.517 1.566-1.3 1.566H81.585z" fill="%23fff" fill-rule="nonzero" stroke="%23000" stroke-width="8.33333"/%3E%3C/svg%3E');
}

.minha-historia .compartilhar, .minha-historia .call-to-action, .minha-historia .tag {
  background-color: #4CA524;
}

.seara-esporte-clube .compartilhar, .seara-esporte-clube .call-to-action, .seara-esporte-clube .tag {
  background-color: #EA5F21;
}

.uma-vida-a-dois .compartilhar, .uma-vida-a-dois .call-to-action, .uma-vida-a-dois .tag {
  background-color: #E60A80;
}

.ao-vivo {
  padding: 0;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  background-color: #007985;
}
.ao-vivo:before {
  content: "";
  background: url(/recursos/capas/ao-vivo.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.player {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 150px;
  display: grid;
  grid-template-columns: 150px 136px;
  grid-gap: 15px;
  padding: 20px;
}
.player h1, .player h2 {
  font-family: Montserrat;
}
.player h1 {
  margin-top: 0;
  font-size: 1.5em;
}
.player h2 {
  margin-top: 0;
  font-size: 1em;
  text-align: left;
  text-transform: capitalize;
  color: #000;
}
.player .col-1 {
  display: flex;
}
.player .col-2, .player .col-3 {
  display: flex;
  flex-direction: column;
}
.player .col-4 {
  display: flex;
}
.player .play {
  width: 75px;
  height: 75px;
  margin: auto 20px;
}
.player .play:after {
  border-width: 18px 0 18px 30px;
}

#live-artwork {
  width: 100%;
  max-width: 150px;
  margin: auto;
  user-select: none;
}

#live-track-artist, #track-info {
  color: #949494;
  margin: 0;
  font-size: 0.9em;
}

.button {
  border: solid 1px;
  border-radius: 20px;
  line-height: 30px;
  height: 30px;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.comprar-link {
  color: #007985;
  border-color: #007985;
}
.comprar-link .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 406 406" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;"><g transform="matrix(1,0,0,1,-6091.87,-26942.4)"><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,765.432,3263.76)"><path d="M0,-12.69C0.09,-12.825 0.09,-12.915 -0.045,-13.004L-0.315,-13.275C-0.45,-13.365 -0.54,-13.365 -0.675,-13.229L-12.419,-0.046L-18.943,-6.75C-19.078,-6.885 -19.168,-6.885 -19.303,-6.75L-19.573,-6.48C-19.708,-6.346 -19.708,-6.255 -19.573,-6.12L-12.959,0.674C-12.599,1.034 -12.238,1.034 -11.879,0.674L0,-12.69ZM8.369,-6.346C8.369,-11.429 6.569,-15.794 2.97,-19.394C-0.63,-22.993 -4.995,-24.794 -10.079,-24.794C-15.163,-24.794 -19.483,-22.993 -23.082,-19.394C-26.728,-15.794 -28.527,-11.429 -28.527,-6.346C-28.527,-1.261 -26.728,3.104 -23.127,6.703C-19.528,10.303 -15.163,12.103 -10.079,12.103C-4.995,12.103 -0.63,10.303 2.97,6.703C6.569,3.104 8.369,-1.261 8.369,-6.346ZM-29.382,-6.346C-29.382,-11.7 -27.492,-16.244 -23.712,-20.023C-19.978,-23.758 -15.433,-25.648 -10.079,-25.648C-4.724,-25.648 -0.18,-23.758 3.599,-20.023C7.334,-16.244 9.224,-11.7 9.224,-6.346C9.224,-0.991 7.334,3.554 3.599,7.333C-0.18,11.068 -4.724,12.958 -10.079,12.958C-15.433,12.958 -19.978,11.068 -23.712,7.333C-27.492,3.554 -29.382,-0.991 -29.382,-6.346Z" style="fill:none;fill-rule:nonzero;stroke:rgb(0,121,133);stroke-width:2px;"/></g></g></g></svg>');
  width: 22px;
  height: 22px;
  margin: auto 0 auto 15px;
}

.comprar-link, .compartilhar {
  min-width: 130px;
}

.curtir {
  color: #EA1351;
  border-color: #EA1351;
}
.curtir .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 363 322" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;"><g transform="matrix(1,0,0,1,-11280.5,-26995)"><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,1391.01,3261.79)"><path d="M0,-6.522C-0.294,-5.639 -0.812,-4.815 -1.519,-4.073L-15.388,10.349C-15.529,10.538 -15.682,10.538 -15.835,10.349L-29.704,-4.073C-31.517,-5.969 -32.035,-8.158 -31.294,-10.643C-30.67,-12.68 -29.445,-14.281 -27.62,-15.423C-25.36,-16.871 -23.099,-17.059 -20.839,-15.976C-19.803,-15.493 -18.837,-14.752 -17.943,-13.751L-16.388,-12.008C-15.976,-11.526 -15.235,-11.526 -14.834,-12.008L-13.269,-13.751C-11.079,-16.2 -8.63,-17.095 -5.887,-16.423C-3.85,-15.941 -2.178,-14.716 -0.953,-12.833C0.412,-10.713 0.742,-8.641 0,-6.522ZM0.824,-10.643C0.224,-12.833 -1.036,-14.575 -3.002,-15.87C-5.298,-17.424 -7.676,-17.766 -10.078,-16.871C-11.42,-16.353 -12.645,-15.458 -13.787,-14.198L-15.353,-12.456C-15.529,-12.267 -15.682,-12.267 -15.87,-12.456L-17.425,-14.198C-19.756,-16.8 -22.358,-17.801 -25.254,-17.165C-27.479,-16.683 -29.292,-15.458 -30.705,-13.457C-32.224,-11.267 -32.671,-9.089 -32.071,-6.816C-31.741,-5.639 -31.141,-4.556 -30.222,-3.638L-16.353,10.832C-15.941,11.279 -15.27,11.279 -14.87,10.832L-1.001,-3.638C0.93,-5.639 1.531,-7.97 0.824,-10.643Z" style="fill:none;fill-rule:nonzero;stroke:rgb(234,19,81);stroke-width:1px;"/></g></g><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,1391.01,3261.75)"><path d="M0,-6.487C-0.294,-5.604 -0.812,-4.78 -1.519,-4.038L-15.388,10.384C-15.529,10.573 -15.682,10.573 -15.835,10.384L-29.704,-4.038C-31.517,-5.934 -32.035,-8.123 -31.294,-10.608C-30.67,-12.645 -29.445,-14.246 -27.62,-15.388C-25.36,-16.836 -23.099,-17.024 -20.839,-15.941C-19.803,-15.458 -18.837,-14.717 -17.943,-13.716L-16.388,-11.973C-15.976,-11.491 -15.235,-11.491 -14.834,-11.973L-13.269,-13.716C-11.079,-16.165 -8.63,-17.06 -5.887,-16.388C-3.85,-15.906 -2.178,-14.681 -0.953,-12.798C0.412,-10.678 0.742,-8.606 0,-6.487Z" style="fill:none;fill-rule:nonzero;stroke:rgb(234,19,81);stroke-width:2px;"/></g></g></g></svg>');
  width: 22px;
  height: 20px;
  margin: auto 0 auto 15px;
}

.ver-letra {
  color: #3F3F3F;
  border-color: #3F3F3F;
}
.ver-letra .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 374 365" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;"><g transform="matrix(1,0,0,1,-13891.2,-26962.8)"><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,1691.96,3247.37)"><path d="M0,19.651C2.004,21.143 2.004,23.445 0,24.937C-1.065,25.704 -2.344,26.088 -3.836,26.088C-5.328,26.088 -6.607,25.704 -7.673,24.937C-9.718,23.445 -9.718,21.143 -7.673,19.651C-6.607,18.884 -5.328,18.5 -3.836,18.5C-2.344,18.5 -1.065,18.884 0,19.651M14.11,5.414C14.238,5.499 14.323,5.499 14.451,5.414L14.706,5.115C14.835,5.03 14.835,4.945 14.706,4.817L3.794,-6.352C2.899,-7.246 1.535,-6.777 1.535,-5.584L1.535,19.992C1.194,19.609 0.853,19.267 0.469,19.012C-0.724,18.116 -2.174,17.691 -3.836,17.691C-5.499,17.691 -6.948,18.116 -8.184,19.012C-10.614,20.844 -10.614,23.786 -8.184,25.619C-6.948,26.472 -5.499,26.897 -3.836,26.897C-2.174,26.897 -0.724,26.472 0.469,25.619C1.706,24.681 2.345,23.573 2.345,22.294L2.345,-5.584C2.345,-6.095 2.899,-6.138 3.24,-5.797L14.11,5.414ZM-19.779,11.297C-19.906,11.297 -19.991,11.211 -19.991,11.04L-19.991,10.7C-19.991,10.571 -19.906,10.486 -19.779,10.486L-6.181,10.486C-6.053,10.486 -5.967,10.571 -5.967,10.7L-5.967,11.04C-5.967,11.211 -6.053,11.297 -6.181,11.297L-19.779,11.297ZM-19.779,4.604C-19.906,4.604 -19.991,4.518 -19.991,4.391L-19.991,4.007C-19.991,3.879 -19.906,3.794 -19.779,3.794L-6.181,3.794C-6.053,3.794 -5.967,3.879 -5.967,4.007L-5.967,4.391C-5.967,4.518 -6.053,4.604 -6.181,4.604L-19.779,4.604ZM-19.779,-2.004C-19.906,-2.004 -19.991,-2.089 -19.991,-2.216L-19.991,-2.6C-19.991,-2.728 -19.906,-2.813 -19.779,-2.813L-6.181,-2.813C-6.053,-2.813 -5.967,-2.728 -5.967,-2.6L-5.967,-2.216C-5.967,-2.089 -6.053,-2.004 -6.181,-2.004L-19.779,-2.004Z" style="fill:rgb(63,63,63);fill-rule:nonzero;"/></g></g><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,1691.96,3247.37)"><path d="M0,19.651C2.004,21.143 2.004,23.445 0,24.937C-1.065,25.704 -2.344,26.088 -3.836,26.088C-5.328,26.088 -6.607,25.704 -7.673,24.937C-9.718,23.445 -9.718,21.143 -7.673,19.651C-6.607,18.884 -5.328,18.5 -3.836,18.5C-2.344,18.5 -1.065,18.884 0,19.651ZM14.11,5.414C14.238,5.499 14.323,5.499 14.451,5.414L14.706,5.115C14.835,5.03 14.835,4.945 14.706,4.817L3.794,-6.352C2.899,-7.246 1.535,-6.777 1.535,-5.584L1.535,19.992C1.194,19.609 0.853,19.267 0.469,19.012C-0.724,18.116 -2.174,17.691 -3.836,17.691C-5.499,17.691 -6.948,18.116 -8.184,19.012C-10.614,20.844 -10.614,23.786 -8.184,25.619C-6.948,26.472 -5.499,26.897 -3.836,26.897C-2.174,26.897 -0.724,26.472 0.469,25.619C1.706,24.681 2.345,23.573 2.345,22.294L2.345,-5.584C2.345,-6.095 2.899,-6.138 3.24,-5.797L14.11,5.414ZM-19.779,11.297C-19.906,11.297 -19.991,11.211 -19.991,11.04L-19.991,10.7C-19.991,10.571 -19.906,10.486 -19.779,10.486L-6.181,10.486C-6.053,10.486 -5.967,10.571 -5.967,10.7L-5.967,11.04C-5.967,11.211 -6.053,11.297 -6.181,11.297L-19.779,11.297ZM-19.779,4.604C-19.906,4.604 -19.991,4.518 -19.991,4.391L-19.991,4.007C-19.991,3.879 -19.906,3.794 -19.779,3.794L-6.181,3.794C-6.053,3.794 -5.967,3.879 -5.967,4.007L-5.967,4.391C-5.967,4.518 -6.053,4.604 -6.181,4.604L-19.779,4.604ZM-19.779,-2.004C-19.906,-2.004 -19.991,-2.089 -19.991,-2.216L-19.991,-2.6C-19.991,-2.728 -19.906,-2.813 -19.779,-2.813L-6.181,-2.813C-6.053,-2.813 -5.967,-2.728 -5.967,-2.6L-5.967,-2.216C-5.967,-2.089 -6.053,-2.004 -6.181,-2.004L-19.779,-2.004Z" style="fill:none;fill-rule:nonzero;stroke:rgb(63,63,63);stroke-width:2px;"/></g></g></g></svg>');
  width: 22px;
  height: 22px;
  margin: auto 0 auto 15px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  flex-grow: 1;
  align-items: flex-end;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
}
.slider-wrapper .icon {
  width: 20px;
  min-height: 17px;
  margin-top: 4px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 369 317" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;"><g transform="matrix(1,0,0,1,-19032.1,-27467.3)"><g transform="matrix(8.33333,0,0,8.33333,0,0)"><g transform="matrix(1,0,0,1,2314.6,3325.62)"><path d="M0,-21.109C-0.113,-21.147 -0.189,-21.222 -0.151,-21.336L-0.038,-21.639C0,-21.752 0.076,-21.828 0.227,-21.79C11.122,-18.347 11.122,-2.724 0.227,0.719C0.076,0.757 0,0.719 -0.038,0.605L-0.151,0.303C-0.189,0.151 -0.113,0.076 0,0.038C10.214,-3.215 10.29,-17.855 0,-21.109ZM-2.61,-4.88C-2.61,-4.729 -2.534,-4.691 -2.383,-4.729C-0.833,-4.993 0.416,-5.674 1.287,-6.847C2.156,-7.982 2.572,-9.192 2.572,-10.516C2.572,-11.84 2.156,-13.051 1.287,-14.224C0.416,-15.396 -0.833,-16.078 -2.383,-16.342C-2.534,-16.38 -2.61,-16.305 -2.61,-16.191L-2.686,-15.851C-2.686,-15.737 -2.61,-15.661 -2.497,-15.624C3.254,-14.716 3.254,-6.317 -2.497,-5.41C-2.61,-5.41 -2.686,-5.334 -2.686,-5.182L-2.61,-4.88ZM-7.037,-23.416C-7.037,-23.757 -7.376,-23.908 -7.642,-23.719L-18.007,-15.926L-24.627,-15.926C-24.892,-15.926 -25.006,-15.813 -25.006,-15.548L-25.006,-5.523C-25.006,-5.258 -24.892,-5.145 -24.627,-5.145L-18.007,-5.145L-7.642,2.686C-7.376,2.875 -7.037,2.648 -7.037,2.346L-7.037,-23.416ZM-18.234,-4.426L-24.627,-4.426C-25.232,-4.426 -25.724,-4.918 -25.724,-5.523L-25.724,-15.548C-25.724,-16.153 -25.232,-16.645 -24.627,-16.645L-18.234,-16.645L-8.058,-24.287C-7.339,-24.854 -6.317,-24.287 -6.317,-23.379L-6.317,2.346C-6.317,3.216 -7.339,3.745 -8.058,3.254L-18.234,-4.426Z" style="fill:none;fill-rule:nonzero;stroke:rgb(148,148,148);stroke-width:1px;"/></g></g></g></svg>');
}

.slider-wrapper.horizontal {
  flex-direction: row;
}
.slider-wrapper.horizontal .icon {
  margin: auto 4px auto 0;
  height: 17px;
}

.slider {
  flex: 1;
  width: 10px;
  margin: auto;
  border: solid 1px #949494;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.slider-active-range {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(50% + 9px);
  background-color: #3F3F3F;
  border-radius: 10px;
}

.slider-handle {
  position: absolute;
  top: 0;
  transform-origin: center;
  left: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #fff;
  background-color: #3F3F3F;
  user-select: none;
}

.horizontal .slider {
  height: 10px;
}
.horizontal .slider-active-range {
  width: calc(50% + 9px);
  height: 100%;
  bottom: auto;
  left: 0;
}
.horizontal .slider-handle {
  right: 0;
  top: -5px;
  left: unset;
}

.episode-player {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: 60px;
  padding: 10px;
  border-top: solid 1px #949494;
  display: grid;
  grid-template-columns: 60px 6fr 60px 1fr;
  grid-gap: 10px;
}
.episode-player p {
  margin: 0;
}
.episode-player #scrubber {
  flex-grow: 1;
  margin-left: 10px;
  position: relative;
}
.episode-player .play {
  width: 60px;
  height: 60px;
}

.episode-player-artwork {
  width: 100%;
}

.episode-player-title {
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

.scrub-time {
  position: absolute;
  right: 0;
  top: calc(50% + 4px);
  color: #949494;
}
.scrub-time span {
  height: 15px;
  display: inline-block;
  line-height: 15px;
}

#current-time {
  margin: 5px;
  padding-right: 5px;
  border-right: solid 1px #949494;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s, opacity 0.2s linear;
}

.dialog {
  font-family: Montserrat;
  text-align: center;
  width: 300px;
  max-width: 80%;
  margin: 25vh auto;
  background-color: #fff;
  padding: 20px;
  position: relative;
  box-shadow: 10px 4px 20px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #B3B3B3;
}
.dialog .close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: solid 1px #000;
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  line-height: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dialog .close:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px auto;
  background: linear-gradient(-45deg, transparent 0%, transparent 47%, black 47%, black 53%, transparent 53%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 47%, black 47%, black 53%, transparent 53%, transparent 100%);
}
.dialog img {
  width: 50%;
  display: block;
  margin: auto;
}

.share-icons, .inscrever-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
}
.share-icons li, .inscrever-logos li {
  width: 100%;
}

.algemas-quebradas .share-icons path {
  fill: #E31E25;
}

.culto-ice-nova-russas .share-icons path {
  fill: #64288A;
}

.empreendedores-de-futuro .share-icons path {
  fill: #0125F7;
}

.familia-bencao-de-deus .share-icons path {
  fill: #00C8FF;
}

.jornal-seara .share-icons path {
  fill: #224752;
}

.luz-da-vida .share-icons path {
  fill: #FFF59C;
}

.minha-historia .share-icons path {
  fill: #4CA524;
}

.seara-esporte-clube .share-icons path {
  fill: #EA5F21;
}

.uma-vida-a-dois .share-icons path {
  fill: #E60A80;
}

footer {
  background-color: #EC9F17;
  color: #fff;
}

.live-player footer {
  background-color: #007985;
}

.footer-wrapper {
  margin: 50px 10% 0 10%;
  padding: 30px 0 20px 0;
}

.live-player .footer-wrapper {
  margin-top: 0;
}

.social-wrapper {
  width: 300px;
  margin: 0 auto 30px auto;
}

.participe-social {
  font-family: Xilosa;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.social-buttons-list {
  display: flex;
  justify-content: space-around;
}
.social-buttons-list img {
  width: 40px;
}

.copyright-wrapper {
  border-top: solid 1px #fff;
  font-size: 0.8em;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
